<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Optimiser</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/Logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik+80s+Fade&display=swap" rel="stylesheet">
</head>
<div class="wrapper">
    <div class="main">
        <div class="logo">
            <img alt="Logo" src="/Logo.png" width="60px" height="60px">
            <h2>Smart Food Delivery Optimiser</h2>
              <div class="navbar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
        </div>
        </div>
      
        
<body>