<%- include("partials/header.ejs") %>
    

        <div class="hero">
            <div class="hero-content">
                <h1>Fresh, Fast, Efficient</h1>
                <h4>Delivering efficiency, one route at a time</h4>
            </div>
            <div class="hero-image">
                <img class="overlay img" alt="hero-img" src="./hero.png">
            </div>
        </div>

        <div class="selection">
            <div id="restaurant" class="sub-select">
                <div class="highlight">
                    <img alt="restaurant" src="/restaurant.png" width="80px" height="80px">
                </div>
                <div class="content">
                    <a href="/restaurant"><h2>Restaurant</h2></a>
                    <p>Manage dishes, handle new orders, and connect ready meals to the nearest delivery partner instantly.</p>
                </div>
                <a href="/restaurant"><button>Get Started</button></a>
            </div>
             <div id="delivery" class="sub-select">
                <div class="highlight">
                    <img alt="delivery" src="/delivery.png" width="80px" height="80px">
                </div>
                <div class="content">
                    <a href="/delivery"><h2>Delivery Partner</h2></a>
                    <p>View delivery requests, get optimal routes, and deliver faster with smart path planning.</p>
                </div>
                <a href="/delivery"><button>Join Now</button></a>
            </div>
             <div id="customer" class="sub-select">
                <div class="highlight">
                    <img alt="customer" src="/customer.png" width="80px" height="80px">
                </div>
                <div class="content">
                    <a href="/customer"><h2>Customer</h2></a>
                    <p>Order your favorite food and track real-time delivery — hot meals delivered on time.</p>
                </div>
                <a href="/customer"><button>Order Now</button></a>
            </div>
        </div>
       
            <h2>About Us</h2>
            <p>At Smart Food Delivery Optimiser, we revolutionize food delivery with cutting-edge technology. Our platform connects restaurants, delivery partners, and customers to ensure efficient and timely deliveries. By optimizing routes and streamlining operations, we enhance the food delivery experience for everyone involved.</p>
        </div>
<%- include("partials/footer.ejs") %>